langchain_openai 
langchain_core
python-dotenv
streamlit
langchain_core
langchain_community
langserve
fastapi
uvicorn
sse_starlette
ipykernel
bs4
pypdf
chromadb
faiss-cpu
langchain-ollama
arxiv
wikipedia
google-generativeai
langchain-google-genai
groq
langchain-groq
beautifulsoup4
pymilvus
llama-index
pandas
tqdm
llama-index
 faiss-cpu
  transformers 
  sentence-transformers 
  pandas
 
llama-cpp-python