streamlit
python-dotenv
langchain
langchain-community
langserve
fastapi
uvicorn
sse-starlette
ipykernel
beautifulsoup4
pypdf
chromadb
faiss-cpu
langchain-ollama
arxiv
wikipedia
google-generativeai
langchain-google-genai
groq
langchain-groq
pymilvus
llama-index
pandas
tqdm


